body,ul,li，p,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input{
	padding: 0;
	margin: 0;
	list-style: none;
	font-weight: normal;
}
a{  
	color: #666;
	text-decoration: none;
}
img{
	border: 0;/*清掉IE6的不兼容的边框*/
	margin: 0;
	display: block;
}
body{
	width: 1423px;
	height: 100%;
	font-family: "Helvetica";
	margin: 0 auto;
}
.leftavg{
	width: 100px;
	height:719px;
	background: #000;
	float: left;
	position: fixed;
	top: 0px;
	left: 0px;
}
.leftavg1{
	width: 100%;
	height: 82px;
}
.leftavg2{
	width: 100px;
	height: 66px;
	background: #000;
	cursor: pointer;
}
.leftavg2:hover{
	width: 96px;
	border-left: 4px solid #BA0C2F;
}
.leftavg2 img{
	width: 37px;
	height: 37px;
	display: block;
	margin-left: 31px;
}
.leftavg2 span{
	width: 100px;
	text-align: center;
	color: #fff;
    display: block;
    font-size: 15px;
}
/*右上侧固定栏*/
.concuty{
	width: 395px;
	height: 106px;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 999;
}
.denglu{
	width: 395px;
	height: 459px;
	position: fixed;
	right: 0px;
	top: 108px;
	z-index: 999;
	display: none;
}
.guojia{
	width: 504px;
	height: 300px;
	position: fixed;
	right: 192px;
	top: 128px;
	background: black;
	opacity: 0.6;
    z-index: 999;
    display: none;
}
.guojia li{
	display: block;
	width: 126px;
	height: 36px;
	float: left;
}
.guojia li:hover{
	background: #7F7F7F;
}
.guojia li img{
	display: block;
	width: 30px;
	height: 15px;
	float: left;
	background: yellow;
	margin-left: 31px;
	margin-top: 10px;
}
.guojia li span{
	display: block;
	width: 30px;
	height: 15px;
	float: left;
	margin-top: 10px;
	color: #fff;
	text-align: center;
}
.denglu .denglutop{
	width: 100%;
	height: 355px;
	background: black;
	opacity: 0.6;
}
.denglu .dengluxia{
	width: 100%;
	height: 103px;
	background: black;
	opacity: 0.6;
	margin-top: 1px;
}
.yuyan{
	width: 504px;
	height: 108px;
	background: black;
	opacity: 0.6;
	position: fixed;
	top: 128px;
	right: 0px;
	z-index: 999;
	display: none;
}
.yuyan li{
	width: 126px;
	height: 30px;
	display: block;
	float: left;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	cursor: pointer;
	text-align: center;
}
.yuyan li:hover{
	background: #717b7c;
}
.concuty .shang{
	width: 395px;
	height: 80px;
}
.concuty .shang .shang1{
	width: 290px;
	height: 80px;
	background: black;
	opacity: 0.6;
	float: left;
	position: relative;
	cursor: pointer;
}
.concuty .shang .shang1 h6{
	font-size: 25px;
	color: #fff;
	display: block;
	opacity: 1;
	margin-top: 10px;
}
.concuty .shang .shang1 p{
	padding: 0px;
	margin: 0px;
	color: #fff;
	opacity: 1;
	display: block;
	width: 80%;
}
.concuty .shang .shang1 .jian{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 40px;
	right: 20px;
	color: #fff;
	font-size: 24px;
	display: none;
}
.concuty .shang .shang1 .jian1{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 40px;
	right: 20px;
	color: #fff;
	font-size: 24px;
}
.concuty .shang .shang2{
	width: 103px;
	height: 80px;
	float: left;
	background: black;
	opacity: 0.6;
	margin-left: 1px;
	background: url(../img/33.jpg);
	cursor: pointer;
}
.concuty .xia{
	width: 395px;
	height: 25px;
	margin-top: 1px;
	position: relative;
}
.concuty .xia span{
	display: block;
	width: 23px;
	height: 17px;
	float: left;
	margin-top: 4px;
	margin-left: 60px;
}
.concuty .xia .cc{
	width: 25px;
	height: 25px;
	color: #fff;
	font-size: 18px;
	float: left;
	position: absolute;
	left: 120px;
	display: none;
	line-height: 25px;
	cursor: pointer;
}
.concuty .xia .dd{
	width: 25px;
	height: 25px;
	color: #fff;
	float: left;
	font-size: 18px;
	position: absolute;
	left: 120px;
	line-height: 25px;
	cursor: pointer;
}
.concuty .xia p{
	padding: 0px;
	margin: 0px;
	color: #fff;
	font-size: 14px;
	display: block;
	float: left;
	line-height: 25px;
}
.concuty .xia .xia1{
	width: 197px;
	height: 25px;
	background: black;
	opacity: 0.6;
	float: left;
}
.concuty .xia .xia2{
	width: 197px;
	height: 25px;
	background: black;
	opacity: 0.6;
	float: left;
	position: relative;
}
.concuty .xia .xia2 .ff{
    width: 25px;
	height: 25px;
	color: #fff;
	font-size: 18px;
	float: left;
	position: absolute;
	left: 160px;
	display: none;
	line-height: 25px;
	cursor: pointer;
}
.concuty .xia .xia2 .gg{
	width: 25px;
	height: 25px;
	color: #fff;
	float: left;
	font-size: 18px;
	position: absolute;
	left: 160px;
	line-height: 25px;
	cursor: pointer;
}
/*右上侧固定栏*/
.rightdom{
	width: 1323px;
	height:719px;
	background: yellow;
	float: right;
	overflow: hidden;
	position: relative;
}
.rightdom img{
	width: 1323px;
	position: absolute;
	top: -80px;
	left: 0px;
}
.imghtml{
	width: 753px;
	height: 354px;
	position: absolute;
	left: 106px;
	bottom: 146px;
}
.biaoti{
	height: 27px;
	margin: 0!important;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1.2em;
    line-height: 25px;
    display: inline-block;
    border-bottom:1px solid #fff;
}
.biaotip h3{
	width: 513px;
	height: 228px;
}
.biaotip1{
	width: 318px;
	margin-top: 10px;
	line-height: 76px;
	height: 76px;
	font-size: 60px;
	color: #fff;
	display: block;
}
.biaotip2{
    margin-top: -60px;
	font-size: 60px;
	color: #fff;
	display: block;
}
.imghtml a{
	display: block;
	width: 201px;
	height: 49px;
	border: 2px solid #fff;
	margin-top: 15px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 49px;
}
.imghtml a:hover{
	background: #fff;
	color: #363636;
}
.rightdom1{
	width: 1323px;
	height: 719px;
	background: blue;
	float: right;
	position: relative;
	overflow: hidden;
}
.rightdom1 img{
	width: 1323px;
	position: absolute;
	top: -110px;
	left: 0px;
}
.beijin h3{
	color: #fff;
    font-size: 3.6rem;
    margin: .5em 0 .3em;
}
.imghtml span{
	display: block;
	width: 60px;
	height: 60px;
	background: red;
	background: url(../img/icon1.jpg);
}
.beijinp{
	display: block;
	color: #fff;
	font-size: 18px;
}
.beijing{
	width: 753px;
	height: 354px;
	position: absolute;
	left: 106px;
	bottom: 270px;
}
.beijing a{
	display: block;
	width: 201px;
	height: 49px;
	border: 2px solid #fff;
	margin-top: 50px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 49px;
	float: left;
}
.beijing a:hover{
	background: #fff;
	color: #363636;
}
.beijing span{
	display: block;
	width: 60px;
	height: 60px;
	background: url(../img/01.svg)no-repeat center center;
	background-size:80% 80%;  
}
.ninght{
	float: left;
	margin-left: 25px;
	height: 53px;
	margin-top: 55px;
}
.ninght p{
	display: block;
	width: 100%;
	height: 25px;
	line-height: 25px;
	margin-top: 0px;
	color: #fff;
	font-size: 20px;
}
.ninghtbottom{
	/*width: 100%;*/
	height: 28px;
	margin-top: -25px;
}
.ninghtbottom label{
	float: left;
	color: #fff;
	font-size: 25px;
	line-height: 28px;
}
.ninghtbottom div{
	float: left;
	color: #fff;
	font-size: 20px;
	line-height: 28px;
}
.botf{
	width: 600px;
	height: 25px;
	/*background: red;*/
    position: absolute;
	left: 106px;
	bottom: 100px;
}
.rightdom2{
	width: 1323px;
	height: 414px;
	/*background: blue;*/
	float: right;
	/*position: relative;*/
	overflow: hidden;
}
.left1{
	width: 661.5px;
	background: red;
	height: 100%;
	float: left;
	position: relative;
}
.left1 span,.right1 span{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../img/02.svg) no-repeat center center;
	background-size: 80% 80%;
	position: absolute;
	left: 305px;
	top: 60px;
}
.left1 label,.right1 label{
	display: block;
	position: absolute;
	left: 305px;
	top: 115px;
	font-size: "Aria";
	color: #fff;
}
.left1 a{
	display: block;
	width: 181px;
	height: 49px;
	border: 2px solid #fff;
	line-height: 49px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 50px;
	left: 240px;
}
.left1 a:hover{
	background: #fff;
	color: #363636;
}
.left1 h3{
	display: block;
	color: #fff;
	font-size: 40px;
	position: absolute;
	top: 145px;
	left: 160px;
}
.left1 img{
	width: 661.5px;
	height: 415px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}
.right1{
	width: 661.5px;
	height: 100%;
	background: #BA0C2F;
	float: left;
	position: relative;
}
.right1 h4{
	display: block;
	text-align: center;
	line-height: 80px;
	display: block;
	position: absolute;
	top: 145px;
	left: 285px;
	font-size: 45px;
	color: #fff;
}
.right1 p{
	margin-top: 0px;
	display: block;
	float: left;
	font-size:80px;
	color: #fff;
	line-height: 60px;
}
.right1dom{
	position: absolute;
	top: 215px;
	left: 100px;
	line-height: 1.3em!important;
    /*width: 60%;*/
    color: #fff;
    font-size: 22px;
}
.right1dom1{
	position: absolute;
	top: 245px;
	left: 231px;
	line-height: 1.3em!important;
    /*width: 60%;*/
    color: #fff;
    font-size: 22px;
}
.right1 a{
	display: block;
	width: 230px;
	height: 49px;
	border: 2px solid #fff;
	line-height: 49px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 50px;
	left: 215px;
}
.right1 a:hover{
	background: #fff;
	color: #363636;
}
.rightdom3{
	width: 1323px;
	height: 828px;
	background: #fff;
	float: right;
	/*position: relative;*/
	overflow: hidden; 
}
.rightdom3left{
	width: 661.5px;
	height: 100%;
	float: left;
	position: relative;
}
.rightdom3left img{
	width: 661.5px;
	height: 828px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.lundon{
    position: absolute;
    width: 66px;
    height: 27px;
    border-bottom: 1px solid #fff;
    color: #fff;
    line-height: 27px;
    text-align: center;
    position: absolute;
    top: 250px;
    left: 80px;
}
.lundon span{
	display: block;
	width: 25px;
	height: 25px;
	background: url(../img/03.svg);
	background-size:100% 100%; 
	float: left;
}
.rightdom3left h3{
	display: block;
	color: #fff;
	font-size: 60px;
	*/
	position: absolute;
	top: 315px;
	left: 80px;
}
.rightdom3left p{
	display: block;
	/*font-size: 20px;*/
	color: #fff;
	position: absolute;
	top: 365px;
	left: 80px;
	font-size: 1.2rem;
    width: 62%;
    min-width: 280px;
    line-height: 1.7em
}
.rightdom3left a{
	display: block;
	width: 167px;
	height: 49px;
	border:2px solid #fff;
	position: absolute;
	left: 80px;
	bottom: 246px;
	font-size: 18px;
	color: #fff;
	line-height: 49px;
	text-align: center;
}
.rightdom3left a:hover{
	background: #fff;
	color: #363636;
}
.rightdom3right{
	width: 661.5px;
	height: 100%;
	float: left;
	position: relative;
}
.rightdom3top{
	width: 100%;
	height: 414px;
	background: yellow;
	position: relative;
}
.rightdom3top span,.rightdom3top1 span{
	width: 50px;
	height: 50px;
	background: url(../img/02.svg)no-repeat center center;
	background-size:80% 80%; 
	position: absolute;
	top: 60px;
	left: 305px;
}
.rightdom3top label{
	display: block;
	font-size: 20px;
	color: #fff;
	position: absolute;
	left: 290px;
	top: 110px;
}
.rightdom3top1 label{
	display: block;
	font-size: 20px;
	color: #fff;
	position: absolute;
	left: 301px;
	top: 110px;
}
.rightdom3top h3{
	display: block;
	font-size: 35px;
	color: #fff;
	position: absolute;
	left: 219px;
	top: 140px;
}
.rightdom3top p{
	display: block;
	font-size: 20px;
	color: #fff;
	position: absolute;
	left: 65px;
	top: 180px;
}
.rightdom3top a,.rightdom3top1 a{
     width: 187px;
     height: 49px;
     border: 2px solid #fff;
     font-size: 18px;
     color: #fff;
     text-align: center;
     line-height: 49px;
     position: absolute;
     left: 237px;
     bottom: 57px;
}
.rightdom3top a:hover{
	background: #fff;
	color: #363636;
}
.rightdom3top1 a:hover{
	background: #fff;
	color: #363636;
}
.rightdom3top img{
	height: 414px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.rightdom3top1{
	width: 100%;
	height: 414px;
	background: yellow;
	position: relative;
	overflow: hidden;
}
.rightdom3top1 img{
	height: 414px;
	position: absolute;
	left: -60px;
	top: 0px;
}
.rightdom3top1 h3{
	font-size: 35px;
	color: #fff;
	text-align: center;
	position: absolute;
	left: 77px;
	top: 140px;
}
.rightdom3top1 p{
	display: block;
	width: 85%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	position: absolute;
	left: 49px;
	top: 205px;
}
.rightdom4{
	width: 1323px;
	height: 683px;
	background: #fff;
	float: right;
	position: relative;
	overflow: hidden; 
}
.rightdom4 img{
	width: 1323px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.rightdom4 .un{
    width: 90px;
    height: 27px;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: 200px;
    left: 106px;
}
.rightdom4 .un span{
	width: 25px;
	height: 25px;
	background: url(../img/04.svg);
	background-size: 100% 100%;
	float: left;
}
.rightdom4 .un label{
	color: #fff;
	line-height: 27px;
	padding: 5px;
}
.rightdom4 .unp{
	width: 696px;
	height: 80px;
	position: absolute;
    top: 250px;
    left: 106px;
}
.rightdom4 .unp h3{
	font-size: 60px;
	color: #fff;
	display: block;
	float: left;
}
.rightdom4 .unp span{
	width: 60px;
	height: 60px;
	display: block;
	background: url(../img/03.svg);
	background-size: 100% 100%;
	float: left;
	margin-left: 10px;
}
.rightdom4 .una{
	width: 696px;
	height: 55px;
	position: absolute;
    top: 377px;
    left: 106px;
}
.rightdom4 .una a{
	display: block;
	width: 179px;
	height: 49px;
	border: 2px solid #fff;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 49px;
	float: left;
}
.rightdom4 .una a:hover{
	background: #fff;
	color: #363636;
}
.rightdom4 .una .unaspan{
	width: 184px;
	height: 55px;
	float: left;
	margin-left: 30px;
}
.rightdom4 .una .unaspan p{
	width: 100%;
	height: 25px;
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	margin-top: 0px;
	display: block;
	padding: 0px;
	margin: 0px;
}
.rightdom4 .una .unaspan .unaspan1{
	display: block;
	width: 100%;
	height: 31px;
}
.rightdom4 .una .unaspan .unaspan1 label{
	color: #fff;
	display: block;
	float: left;
	font-size: 30px;
}
.rightdom4 .una .unaspan .unaspan1 span{
	display: block;
	float: left;
	color: #fff;
	float: 22px;
	line-height: 35px;
}
.rightdom4 .unicon{
	height: 26px;
	position: absolute;
	left: 106px;
	top: 455px;
}
.rightdom4 .unicon span:nth-child(1){
	width: 26px;
	height: 26px;
	display: block;
	background: url(../img/05.svg);
	background-size: 100% 100%;
	float:right;
}
.rightdom4 .unicon span:nth-child(3){
	width: 26px;
	height: 26px;
	display: block;
	background: url(../img/01.svg);
	background-size: 100% 100%;
	float:right;
}
.rightdom4 .unicon p{
	display:block;
	float: right;
	color: #fff;
	font-size: 20px;
	margin: 5px;
	padding: 0px;
	line-height: 26px;
}
.rightdom5{
	width: 1323px;
	height: 830px;
	background: #fff;
	float: right;
	position: relative;
	overflow: hidden; 
}
.rightdom5 .panda{
	width: 441px;
	height: 100%;
	background: red;
	float: left;
	overflow: hidden;
	position: relative;
	background: url(../img/7.jpg) no-repeat -180px 0px;
	background-size: 830px 1000px;
}   
.rightdom5 .panda1{
	width: 441px;
	height: 100%;
	background: red;
	float: left;
	overflow: hidden;
	position: relative;
	background: url(../img/8.jpg) no-repeat -389px ,-111px;
	background-size: 1270px 830px ;
}
.rightdom5 .panda2{
	width: 441px;
	height: 100%;
	background: red;
	float: left;
	overflow: hidden;
	position: relative;
	background: url(../img/9.jpg) no-repeat -200px ,-111px;
	background-size: 1019px 830px ;
}
.pandaspan{
	width: 100%;
	height: 66px;
	position: absolute;
	top: 62px;
	text-align: center;
}
.pandaspan span{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../img/06.svg);
	background-size: 100% 100%;
	margin-left: 195.5px;
}
.pandaspan label{
	font-size: 20px;
	color: #fff;
}
.panda .pandah3,.panda1 .pandah3,.panda2 .pandah3{
	width: 100%;
	height: 238px;
	position: absolute;
	top: 216px;
}
.panda .pandah3 h3,.panda1 .pandah3 h3,.panda2 .pandah3 h3{
	display: block;
	color: #fff;
	font-size: 40px;
	margin-left: 58px;
	width: 78%;
	text-align: center;
}
.panda .pandah3 span,.panda1 .pandah3 span,.panda2 .pandah3 span{
	display: block;
	width: 42px;
	height: 42px;
	background: url(../img/01.svg);
	background-size: 100% 100%;
	margin-top: -102px;
	margin-left: 350px;
}
.panda .pandah3 p,.panda1 .pandah3 p,.panda2 .pandah3 p{
	color: #fff;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	margin-top: 30px;
}
.panda a,.panda1 a,.panda2 a{
	width: 179px;
	height: 49px;
	display: block;
	border: 2px solid #fff;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 49px;
	position: absolute;
	left: 130px;
	bottom: 133px;
}
.panda a:hover,.panda1 a:hover,.panda2 a:hover{
	background: #fff;
	color: #363636;
}
.rightdom6{
	width: 1323px;
	height:646px;
	background: #fff;
	float: right;
	position: relative;
	overflow: hidden;
}
.rightdom6 img{
	width: 1323px;
	position: absolute;
	top: -112px;
	left: 0px;
}
.rightdom6 .stat{
	width: 67px;
	height: 27px;
	position: absolute;
	top: 175px;
	left: 106px;
	border-bottom: 2px solid #fff;
}
.rightdom6 .stat span{
	display: block;
	width: 25px;
	height: 25px;
	float: left;
	background:url(../img/04.svg);
	background-size: 100% 100%;
}
.rightdom6 .stat label{
	color: #fff;
	line-height: 33px;
	padding: 5px;
}
.rightdom6 .stat1{
	width: 696px;
	height: 195px;
	position: absolute;
	left: 106px;
	top: 233px;
}
.rightdom6 .stat1 .stat1h3{
	width: 100%;
	height: 80px;
}
.rightdom6 .stat1 p{
	display: block;
	color: #fff;
	font-size: 20px;
}
.rightdom6 .stat1 .stat1h3 h3{
	display: block;
	float: left;
	font-size: 60px;
	color: #fff;
}
.rightdom6 .stat1 .stat1h3 span{
	display: block;
	width: 60px;
	height: 60px;
	background: url(../img/01.svg);
	background-size: 100% 100%;
	float: left;
}
.rightdom6 a{
	width: 168px;
	height: 49px;
	border: 2px solid #fff;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height: 49px;
	position: absolute;
	left: 106px;
	bottom: 160px;
}
.rightdom6 a:hover{
	background: #fff;
	color: #363636;
}
.rightdom7{
	width: 1323px;
	height:53px;
	background: #BA0C2F;
	float: right;
}
.rightdom7 p{
	display: block;
	width: 100%;
	font-size: 18px;
	color: #fff;
	text-align: center;
	line-height:10px;
}
.rightdom8{
	width: 1323px;
	height:421px;
	background: #DCD7D2;
	float: right;
	position: relative;
}
.rightdom8 .ling{
	width: 1191px;
	height: 60px;
	background: #DCD7D2;
	margin-left: 66px;
	margin-top: 20px;
}
.rightdom8 .ling img{
	float: left;
	margin-top: 12px;
}
.rightdom8 .bd{
	width: 1191px;
	height: 101px;
	background: #DCD7D2;
	margin-left: 66px;
	margin-top: 35px;
	border-bottom: 1px solid black;
}
.rightdom8 .bd .bdleft{
	width: 198px;
	height: 54px;
	background: #DCD7D2;
	float: left;
}
.rightdom8 .bd .bdleft a{
	display: block;
	width: 33.33%;
	float: left;
}
.rightdom8 .bd .bdleft img{
	float: left;
}
.rightdom8 .bd .bdright{
	width: 500px;
	height: 50px;
	margin-left:690px;
	margin-top: -50px;
	float: left;
}
.rightdom8 .bd .bdright #value{
	width: 374px;
	height: 100%;
	padding: 5px;
	line-height: 50px;
	padding: 0px;
	margin: 0px;
	float: left;
	border: 0px;
	background: #BDB9B5;
	color: #8C7777;
}
.rightdom8 .bd .bdright #value1{
	width: 126px;
	height: 100%;
	text-align: center;
	line-height: 50px;
	margin: 0px;
	padding: 0px;
	float: left;
	border: 0px;
	background: #363636;
	color: #fff;
}
.rightdom8 .our{
	width: 1191px;
	height: 70px;
	margin-left: 66px;
}
.rightdom8 .our a{
	display: block;
	width: 25%;
	text-align: center;
	color: black;
	float: left;
	font-size: 25px;
	line-height: 100px;
}
.rightdom8 .our1{
	width: 893px;
	height: 45px;
	margin-left: 66px;
	margin-top: 9px;
}
.rightdom8 .our1 span{
	width: 49px;
	height: 49px;
	display: block;
	background: red;
	float: left;
	margin-top: -21px;
}
.rightdom8 .our1 .ourright{
	width: 844px;
	height: 100%;
	float: left;
	margin-top: -21px;
}
.rightdom8 .our1 .ourright .copy{
	width: 100%;
	height: 22px;
	color: #363636;
}
.rightdom8 .our1 .ourright .copy1{
	width: 100%;
	height: 23px;
}
.rightdom8 .our1 .ourright .copy1 a{
	float: left;
	color: #363636;
}
.rightdom8 .our1 .ourright .copy1 p{
	float: left;
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
	color: #363636;
}
.rightdom8 .our2{
	width: 98px;
	height: 50px;
	background: #DCD7D2;
	position: absolute;
	right: 68px;
	bottom: 80px;
	cursor: pointer;
}
.rightdom8 .our4 .our3{
	width: 98px;
	height: 50px;
	background: #DCD7D2;
	position: absolute;
	right: 0px;
	bottom: 80px;
	/*display: none;*/
	cursor: pointer;
}
.rightdom8 .our2 span,.rightdom8 .our4 .our3 span{
	color: #363636;
	font-size: 13px;
	line-height: 50px;
	display: block;
	float: left;
}
.rightdom8 .our2 .our2icon{
	width: 46px;
	height: 46px;
	float: left;
	background: url(../img/15.jpg);
	margin-left: 12px;
}
.rightdom8 .our4 .our3 .our2icon{
	width: 46px;
	height: 46px;
	float: left;
	background: url(../img/16.jpg);
	margin-left: 12px;
}
.rightdom8 .our4{
	width: 1191px;
	height: 266px;
	background: #DCD7D2;
	position: absolute;
	top: 217px;
	left: 66px;
	display: none;
}
.rightdom8 .our4 .our5{
	width: 1191px;
	height: 180px;
}
.rightdom8 .our4 .our5 .copy3{
	float: left;
	margin-left: 80px;
}
.rightdom8 .our4 .our5 .copy3 h6{
	display: block;
	color: #363636;
	font-size: 25px;
}
.rightdom8 .our4 .our5 .copy3 a{
	display: block;
	color: #363636;
	font-size: 16px;
}
.rightdom8 .our4 .our1{
	width: 893px;
	height: 45px;
	margin-left: 66px;
	margin-top: -20px;
}
/*固定底部开始*/
.bottom{
	width: 1423px;
	height: 80px;
	background: #CBC7C2;
	position: fixed;
	bottom: 0px;
	left: 0px;
	cursor: pointer;
}
.bottom span{
	display: block;
	width: 100px;
	height: 80px;
	float: left;
}
.bottom .went{
	width: 887px;
	height: 80px;
	float: left;
	font-size: 32px;
	color: #363636;
	line-height: 80px;
	margin-left: 70px;
}
.bottom .went1{
	width: 366px;
	height: 80px;
	float: left;
	background: #282828;
	border-top: 4px solid #31A2AC;
}
.bottom .went1 span{
	width: 26px;
	height: 26px;
	display: block;
	float: left;
	margin-top: 27px;
	margin-left: 92px;
}
.bottom .went1 p{
	display: block;
	padding: 0px;
	margin: 0px;
	font-size: 26px;
	line-height: 26px;
	color: #2B9AAC;
	float: left;
	margin-top: 27px;
}
.bottom1{
	width: 1423px;
	height: 494px;
	background: #363636;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
}
.bottom1 .head{
	width: 100%;
	height: 63px;
	background: #282828;
	position: relative;
}
.bottom1 .head .head1{
	width: 222px;
	height: 39px;
	margin-left: 149px;
	position: absolute;
	top:12px;
}
.bottom1 .head .head2{
	width: 89px;
	height: 38px;
	float: right;
	margin-right:158px;
    margin-top: 12px;
    cursor: pointer;
}
.bottom1 .head .head2 span{
	font-size: 22px;
	display: block;
	float: left;
	line-height: 38px;
	color: #fff;
}
.bottom1 .head .head2 a{
	display: block;
	float: left;
	font-size: 22px;
	color: #fff;
	text-align: center;
	line-height: 38px;
	margin-left: 15px;
}
.bottom1 .head .head1 span{
	display: block;
	width: 26px;
	height: 26px;
	float: left;
	background: green;
	margin-top: 6px;
}
.bottom1 .head .head1 p{
	display: block;
	margin: 0px;
	padding-left: 0px;
	float: left;
	color: #3497AC;
	margin-top: 6px;
	line-height: 30px;
	font-size: 16px;
}
.bottom1 .hotel span,.bottom1 .dates span,.bottom1 .adults span{
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	/*background: #fff;*/
	margin-top: 4px;
	margin-left: 140px;
}
.bottom1 .hotel p,.bottom1 .dates p,.bottom1 .adults p{
	display: block;
	float: left;
	font-size: 45px;
	line-height: 50px;
	margin: 0px;
	padding: 0px;
	margin-left: 15px;
	color: #fff;
}
.bottom1 .hotel #go{
	width: 500px;
	border: 0px;
	font-size: 30px;
	line-height: 50px;
	display: block;
	float: left;
	margin-left: 60px;
	color: #31A2AC;
	background: #363636;
}
.bottom1 .hotel{
	width: 100%;
	height: 50px;
	background: #363636;
	margin-top: 25px;
	margin-bottom: 25px;
}
.bottom1 .dates{
	width: 100%;
	height: 48px;
	background: #363636;
	margin-top: 25px;
	margin-bottom: 25px;
}
.bottom1 .dates .datess{
	width: 442px;
	height: 36px;
	float: left;
	margin-left:193px;
	margin-top: 6px;
	font-size: 35px;
	color: #fff;
}
.bottom1 .dates .datess1{
	float: left;
	color: #b1b1b1;
	font-size: 25px;
	text-align: center;
	line-height: 59px;
}
.bottom1 .adults{
	width: 100%;
	height: 116px;
	background: #363636;
	margin-top: 25px;
	position: relative;
}
.bottom1 .adults .kuohao{
	width: 243px;
	height: 30px;
	position: absolute;
	top: 47px;
	left: 190px;
	font-size: 25px;
	color: #fff;
	line-height: 30px;
}
.bottom1 .adults .one{
	width: 232px;
	height: 40px;
	margin-left: 108px;
	margin-top: 30px;
	float: left;
	color: #fff;
	font-size: 25px;
	line-height: 40px;
}
.bottom1 .adults .one label{
	display: block;
	float: left;
	font-size: 25px;
	color: #fff;
	line-height: 40px;
}
.bottom1 .adults .one h2{
	font-size: 25px;
	display: block;
	color: #fff;
	line-height: 40px;
	text-align: center;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.bottom1 .adults .one a{
	display: block;
	float: left;
	width: 33px;
	height: 33px;
	border: 2px solid #fff;
	text-align: center;
	line-height: 33px;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}
.bottom1 .form{
	width: 100%;
	height: 47px;
	background: #363636;
}
.bottom1 .form input{
	border: 1px solid #fff;
	width: 251px;
	height: 33px;
	margin-top: 7px;
	font-size: 16px;
	color: #a9a9a9;
	background: #363636;
    padding-left: 10px;
}
.bottom1 .serach{
	width: 528px;
	height: 47px;
	background: #363636;
	margin-top: 30px;
	margin-left: 777px;
}
.bottom1 .serach p{
	display: block;
	margin: 0px;
	padding:0px;
	line-height: 47px;
	float: left;
	font-size: 18px;
	color: #3497AC;
}
.bottom1 .serach input{
	width: 152px;
	height: 47px;
    line-height: 47px;
    text-align: center;
    background: #244649;
    border: 0px;
    font-size: 20px;
    color: #517E72;
    float: right;
}



/*第二屏*/
.rightdom9{
	width: 1323px;
	height:1012px;
	background: #fff;
	float: right;
	position: relative;
}
.rightdom9 h3{
	display: block;
	margin-left:106px;
	margin-top: 95px; 
	color: #363636;
	font-size: 60px;
}
.rightdom9 .hengxian{
	width: 123px;
	height: 3px;
	background: #363636;
	margin-left:106px;
}
.rightdom9 h5{
	font-size: 16px;
	color: black;
	display: block;
	margin-left:106px;
	margin-top: 10px;
}
.rightdom9 p{
	display: block;
	font-size: 16px;
	color: #363636;
	width: 722px;
	margin-left: 106px;
	line-height: 1.7em;
	word-spacing:4px;
}
.rightdom9 .add{
	width: 328px;
	height: 38px;
	background: #363636;
	border: 2px solid #363636;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 38px;
	margin-left: 106px;
	margin-top: 300px;
	cursor: pointer;
}
.rightdom9 .add:hover{
	background: #fff;
	color: #363636;
}
.rightdom9 .right9dom{
	width: 361px;
	height: 675px;
	position: absolute;
	right: 10px;
	top: 150px;
}
.rightdom9 .right9dom h5{
	font-size: 12px;
	font-weight: bold;
	color: black;
	display: block;
	margin-left:0px;
}
.rightdom9 .right9dom li{
	font-size: 12px;
	color: #363636;
	margin-top: 15px;
	display: block;
}
.rightdom9 .right9dom li a{
	text-decoration:underline;
}
.rightdom9 .right9dom span{
	display: block;
	font-size: 12px;
	color: #363636;
	margin-top: 30px;
}
.rightdom10{
	width: 1323px;
	height:250px;
	background: #363636;
	float: right;
	position: relative;
}
.rightdom10 .dates{
	width: 100%;
	height: 48px;
	background: #363636;
	margin-top: 16px;
	margin-bottom: 25px;
}
.rightdom10 .dates .datess{
	width: 442px;
	height: 36px;
	float: left;
	margin-left:193px;
	margin-top: 0px;
	font-size: 35px;
	color: #fff;
}
.rightdom10 .dates .datess1{
	float: left;
	color: #b1b1b1;
	font-size: 25px;
	text-align: center;
	line-height: 59px;
	margin-top: 0px;

}
.rightdom10 .dates span,.rightdom10 .adults span{
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	/*background: #fff;*/
	/*margin-top: 4px;*/
	margin-left: 58px;
	margin-top: -9px;

}
.rightdom10 .dates p,.rightdom10 .adults p{
	display: block;
	float: left;
	font-size: 45px;
	line-height: 50px;
	margin: 0px;
	padding: 0px;
	margin-left: 87px;
	margin-top: -8px;
	color: #fff;
}
.rightdom10 .adults{
	width: 100%;
	height: 116px;
	background: #363636;
	margin-top: 25px;
	position: relative;
}
.rightdom10 .adults .kuohao{
	width: 243px;
	height: 30px;
	position: absolute;
	top: 36px;
	left: 188px;
	font-size: 25px;
	color: #fff;
	line-height: 30px;
}
.rightdom10 .adults .one{
	width: 232px;
	height: 40px;
	margin-left: 108px;
	margin-top: 0px;
	float: left;
	color: #fff;
	font-size: 25px;
	line-height: 40px;
}
.rightdom10 .adults .one label{
	display: block;
	float: left;
	font-size: 25px;
	color: #fff;
	line-height: 40px;
}
.rightdom10 .adults .one h2{
	font-size: 25px;
	display: block;
	color: #fff;
	line-height: 40px;
	text-align: center;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.rightdom10 .adults .one a{
	display: block;
	float: left;
	width: 33px;
	height: 33px;
	border: 2px solid #fff;
	text-align: center;
	line-height: 33px;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}
.rightdom10 .form{
	width: 100%;
	height: 47px;
	background: #363636;
}
.rightdom10 .form input{
	border: 1px solid #fff;
	width: 251px;
	height: 33px;
	margin-top: 2px;
	font-size: 16px;
	color: #a9a9a9;
	background: #363636;
    padding-left: 10px;
}
.rightdom11{
	width: 1323px;
	height:491px;
	background: #363636;
	float: right;
	position: relative;
}
.rightdom11 img{
	width: 1323px;
	position: absolute;
	top: -150px;
	left: 0px;
}
.rightdom11 h2{
	font-size: 60px;
	display: block;
	position: absolute;
	left: 506px;
	top: 130px;
	color: #fff;
}
.rightdom11 p{
	margin: 0px;
	padding: 0px;
	display: block;
	position: absolute;
	top: 299px;
    left: 384px;
    color: #fff;
    width: 608px;
    font-size: 18px;
}
.rightdom11 .xiabiao{
	width: 136px;
	height: 52px;
	position: absolute;
	bottom:50px; 
	left:567.5px;
}
.rightdom11 .xiabiao .xiabiao1{
	width: 77px;
	color: #fff;
	height: 40px;
	line-height: 25px;
	float: left;
	margin-left: 10px;
}
.rightdom11 .xiabiao span{
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/01.svg);
	background-size: 100% 100%;
	float: right;
	margin-top: 6px;
	margin-right: 5px;
}
.rightdom12{
	width: 1323px;
	height:206px;
	background: #363636;
	float: right;
	position: relative;
}
.rightdom12 h5{
	color: #fff;
	display: block;
	position: absolute;
	top: 20px;
	left: 505px;
	font-size: 22px;
}
.rightdom12 .select{
	width: 291px;
	height: 92px;
	margin-top: 80px;
}
.rightdom12 .select label{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #f5f5f5;
}
.rightdom12 .select .xiala{
	width: 291px;
	height: 60px;
	background: #282828;
	cursor: pointer;
}
.rightdom12 .select .xiala p{
	margin: 0px;
	padding: 0px;
	color: #fff;
	display: block;
	font-size: 24px;
	line-height: 60px;
	float: left;
	padding-left: 20px;
}
.rightdom12 .select .xiala span{
	display: block;
	color: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 60px;
	float: left;
	margin-left: 160px;
}
.rightdom12 .erji{
	width: 291px;
	height: 260px;
	background: #282828;
	position: absolute;
	top: 186px;
	left: 349px;
	z-index: 1000;
	display: none;
}
.rightdom12 .erji1{
	width: 291px;
	height: 456px;
	background: #282828;
	position: absolute;
	top: 186px;
	left: 683px;
	z-index: 999;
	display: none;
}
.rightdom12 .erji1 .ss{
	width: 274px;
	height: 60px;
	margin-right: 1px;
	float: right;
	font-size: 18px;
	color: #fff;
	line-height: 60px;
}
.rightdom12 .erji1 li{
	display: block;
	width: 270px;
	height: 52px;
	float: right;
	margin-right: 5px;
	cursor: pointer;
}
.rightdom12 .erji1 li span{
	display: block;
	width: 26px;
	height: 26px;
	border: 2px solid #adadad;
	float: left;
	margin-top: 13px;
}
.rightdom12 .erji1 li span i{
	width: 17px;
	height: 16px;
	background: #fff;
	margin-left: 5px;
	margin-top: 5px;
	display: none;
}
.rightdom12 .erji1 li p{
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-size: 20px;
	line-height: 52px;
	display: block;
	float: left;
	padding-left: 15px;
}
.rightdom12 .erji2{
	width: 291px;
	height: 456px;
	background: red;
	position: absolute;
	top: 186px;
	left: 349px;
	z-index: 999;
	overflow: scroll;
	display: none;
}
.rightdom12 .erji li,.rightdom12 .erji2 li{
    width: 100%;
    height: 52px;
    background: #282828;
    display: block;
    cursor:pointer;
    color: #fff;
	font-size: 20px;
	line-height: 52px;
}
.rightdom12 .erji li:hover,.rightdom12 .erji2 li:hover{
	background: #535353;
}
.rightdom12 .erji li span{
	display: block;
	float: left;
	color: #fff;
	font-size: 20px;
	line-height: 52px;
	padding-left: 5px;
}
.rightdom12 .erji li p{
	display: block;
	float: right;
	color: #fff;
	font-size: 20px;
	line-height: 52px;
	margin:0px;
	padding: 0px;
}
.rightdom12 .erji2 li span{
	display: block;
	float: left;
	color: #fff;
	font-size: 20px;
	line-height: 52px;
	padding-left: 5px;
}
.rightdom12 .erji2 li p{
	display: block;
	float: left;
	color: #fff;
	font-size: 20px;
	line-height: 52px;
	margin:0px;
	padding: 0px;
	padding-left: 30px;
}
.wozai{
	display: none;
}
.rightdom13{
	width: 1323px;
	height:1656px;
	background: yellow;
	float: right;
	/*position: relative;*/
}
.rightdom13 .moty{
	width: 661.5px;
	height: 414px;
	background: red;
	float: left;
	position: relative;
}
.rightdom13 .moty img{
	width: 661.5px;
	height: 414px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.rightdom13 .moty span{
	width: 50px;
	height: 50px;
	background: url(../img/07.svg);
	background-size: 100% 100%;
	position: absolute;
	top: 105px;
	left: 306px;
}
.rightdom13 .moty label{
	display: block;
	color: #fff;
	font-size: 16px;
	position: absolute;
    left:298px;
    top: 164px;
}
.rightdom13 .moty h3{
	display: block;
	width: 515px;
	height: 76px;
	position: absolute;
	top: 200px;
	left: 73px;
	font-size: 30px;
	color: #fff;
	text-align: center;
}
.rightdom13 .moty a{
	width: 158px;
	height: 49px;
	border: 2px solid #fff;
	display: block;
	font-size: 16px;
	color: #fff;
	position: absolute;
	left: 252px;
	bottom: 81px;
	line-height: 49px;
	text-align: center;
}
.rightdom13 .moty a:hover{
	background: #fff;
	color: #363636;
}
.rightdom14{
	width: 1323px;
	height:719px;
	background: #fff;
	float: right;
	position: relative;
}
.rightdom14 .imgbox{
	width: 1323px;
	height:719px;
	position: relative;
	overflow: hidden;
}
.rightdom14 .imgbox a{
	width: 1323px;
	height:719px;
	position: absolute;
	left: 0px;
	top: 0px;
}
.rightdom14 .imgbox a label{
	display: block;
	width: 147px;
	height: 25px;
	border-bottom: 2px solid #fff;
	position: absolute;
	top: 112px;
	left: 106px;
	color: #fff;
	font-size: 14px;
	line-height: 25px;
}
.rightdom14 .imgbox a h3{
	width: 618px;
	height: 64px;
	position: absolute;
	left: 106px;
	top: 170px;
	font-size: 56px;
	color: #fff;
	line-height: 64px;
}
.rightdom14 .imgbox a p{
	display: block;
	padding: 0px;
	margin: 0px;
	width: 576px;
	height: 126px;
	position: absolute;
	left: 106px;
	top: 270px;
	font-size: 20px;
	line-height: 42px;
	color: #fff;
}
.rightdom14 .imgbox a span{
	display: block;
	width: 230px;
	height: 49px;
	border: 2px solid #fff;
	position: absolute;
	left: 106px;
	bottom: 173px;
	font-size: 14px;
	line-height: 49px;
	text-align: center;
	color: #fff;
}
.rightdom14 .imgbox a span:hover{
	background: #fff;
	color: #363636;
}
.rightdom14 .imgbox a img{
	width: 1323px;
}
.rightdom14 .lunbo{
	width: 212px;
	height: 20px;
	position: absolute;
	bottom: 50px;
	margin-left: 555.5px;
}
.rightdom14 .lunbo div{
	width: .9rem;
    height: .9rem;
    border: 1px solid #fff;
    cursor: pointer;
    margin: .8rem!important;
    transform: rotate(45deg);
    float: left;
}
.rightdom14 .lunbo .active{
	background: #fff;
}
.rightdom14 .btns{
	width: 144px;
	height: 61px;
	position: absolute;
	bottom: 26px;
	left: 40px;
	cursor: pointer;
}
.rightdom14 .btns span,.rightdom14 .rigs span{
	display: block;
	width: 59px;
	height: 59px;
	border: 2px solid #fff;
	float: left;
	color: #fff;
	font-size: 12px;
	line-height: 59px;
	text-align: center;
}
.rightdom14 .btns p,.rightdom14 .rigs p{
	display: block;
	margin: 0px;
	padding: 0px;
	color: #fff;
	font-size: 14px;
	width: 80px;
	float: left;
	line-height: 61px;
	text-align: center;
}
.rightdom14 .rigs{
	width: 144px;
	height: 61px;
	position: absolute;
	bottom: 26px;
	right: 40px;
	cursor: pointer;
}
.rightdom15{
	width: 1323px;
	height:62px;
	background: #fff;
	float: right;
	position: relative;
	border-top: 1px solid #767676;
	border-bottom: 1px solid #767676;
}
.rightdom15 .beibest{
	width: 223px;
	height: 26px;
	margin-left: 65px;
	margin-top: 18px;
}
.rightdom15 .beibest span{
	display: block;
	float: left;
	width: 26px;
	height: 26px;
	background: url(../img/05.svg);
	background-size: 100% 100%;
}
.rightdom15 .beibest a{
	display: block;
	float: left;
	line-height: 26px;
	color: #31A2AC;
	font-size: 14px;
	width: 160px;
	text-align: center;
}
.rightdom16{
	width: 1323px;
	height:663px;
	background: #fff;
	float: right;
	position: relative;
}
.rightdom16 .money{
	width: 100%;
	height: 330px;
	border-bottom: 1px solid #767573;
}
.rightdom16 .dates{
	width: 100%;
	height: 330px;
	border-bottom: 1px solid #767573;
	border-top: 1px solid #e7e7e7;
}
.rightdom16 .money .rutura,.rightdom16 .dates .rutura{
	width: 660.5px;
	height: 330px;
	border-right: 1px solid #767573;
	float: left;
	position: relative;
}
.rightdom16 .money .rutura img,.rightdom16 .dates .rutura img{
	width: 660.5px;
	height: 330px;
	position: absolute;
	top: 22px;
	left: 0px;
}
.rightdom16 .money .rutura p,.rightdom16 .dates .rutura p{
	display: block;
	width: 230px;
	height: 30px;
	position: absolute;
	left: 65px;
	margin: 0px;
	padding: 0px;
	color: #fff;
	line-height: 44px;
	font-size: 14px;
}
.rightdom16 .money .rutura label,.rightdom16 .dates .rutura label{
	display: block;
	float: left;
	font-size: 25px;
	color: #fff;
	width:145px;
    height: 30px;
    line-height: 30px;
}
.rightdom16 .money .rutura h3,.rightdom16 .dates .rutura h3{
	width: 330px;
	height: 38px;
	display: block;
	position: absolute;
	left: 65px;
	top: 110px;
	font-size: 40px;
	color: #fff;
	line-height: 38px;
}
.rightdom16 .money .rutura a,.rightdom16 .dates .rutura a{
	width: 169px;
	height: 50px;
	display: block;
	position: absolute;
}
.rightdom16 .money .rutura a i,.rightdom16 .dates .rutura a i{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../img/04.svg);
	background-size: 100% 100%;
	float: left;
}
.rightdom16 .money .rutura a span,.rightdom16 .dates .rutura a span{
	display: block;
	float: left;
	color: #fff;
	line-height: 50px;
	padding-left: 5px;
	font-size: 14px;
}
.rightdom17{
	width: 1323px;
	height:210px;
	background: #323232;
	float: right;
	position: relative;
}
.rightdom17 a{
	display: block;
	height: 47px;
	font-size: 18px;
	color: #cacaca;
	background: #3e3e3e;
	line-height: 47px;
	text-align: center;
	position: absolute;
}
.rightdom18{
	width: 1323px;
	height:436px;
	background: #fff;
	float: right;
	position: relative;
}
.rightdom18 h2{
	display: block;
	width: 910px;
	height: 124px;
	margin-left: 93px;
	margin-top: 120px;
	color: #363636;
	font-size: 70px;
	line-height: 124px;
}
.rightdom18 p{
	display: block;
	margin: 0px;
	padding:0px;
	width: 910px;
	height: 84px;
    margin-left: 93px;
    margin-top: 48px;
	color: #363636;
    font-size: 18px;
}
.rightdom19{
	width: 1323px;
	height:830px;
	float: right;
	position: relative;
}
.rightdom19 img{
	height: 830px;
	width: 1323px;
}
.rightdom20{
	width: 1323px;
	height:3309px;
	float: right;
	position: relative;
	background: #fff;
}
.rightdom20 li{
	display: block;
	width: 1138px;
	height: 206px;
	border-bottom: 1px solid #bababa;
	margin-left: 93px;
}
.rightdom20 li h3{
	width: 193px;
	height: 93px;
	display: block;
	float: left;
	margin-top: 42px;
	color: #363636;
	font-size: 40px;
}
.rightdom20 li p{
	width: 933px;
	height: 110px;
	display: block;
	margin: 0px;
	padding: 0px;
	float: left;
	margin-top: 42px;
	color: #363636;
	font-size: 18px;
}
.rightdom21{
	width: 1323px;
	height:436px;
	float: right;
	position: relative;
	background: #fff;
}
.rightdom21 img{
	width: 993px;
	position: absolute;
	left: 0px;
	top: -108px;
}
.lvyou{
	width: 330px;
	height: 350px;
	background: red;
	position: fixed;
	top: 40px;
	right: 0px;
	z-index: 1000;
}